#firstth{
    width: 50%;
}

table tr td span{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-css-class-miroslav1{
    padding-top: 15px;
}

/*SCROLLABLE DROPDOWN*/
.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}
/*END OF SCROLLABLE DROPDOWN*/