<!--<div class="container-fluid">-->
<!--
  <div class="side-body">
-->
<app-accommodation-modal></app-accommodation-modal>

    <div class="panel-group custom-class-for-custom-css" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">

          <span style="display: inline-block;" class="glyphicon glyphicon-home"></span>
          <h4 style="display: inline-block;margin-left: 6px;margin-top: 2px;" class="panel-title">
            Your Accommodation Properties
          </h4>

          <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addAccommodation"  style="float: right;">
            <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
            Add
          </button>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in" data-parent="#accordion" role="tabpanel" aria-labelledby="headingOne">
          <!-- Miroslav: SECTION CONTENT GOES BELOW -->
          <div class="panel-body">
            <app-accommodation-list></app-accommodation-list>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2" id="heading2">
          <span style="display: inline-block;" class="glyphicon glyphicon-plane"></span>
          <h4 style="display: inline-block;margin-left: 6px;margin-top: 2px;" class="panel-title">Your Touristic Agencies</h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <!-- Miroslav: SECTION CONTENT GOES BELOW -->
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="button" data-toggle="collapse" data-parent="#accordion3" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3" id="heading3">
          <span style="display: inline-block;" class="fa fa-car"></span>
          <h4 style="display: inline-block;margin-left: 6px;margin-top: 2px;" class="panel-title">Your Rent A Car Agencies</h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <!-- Miroslav: SECTION CONTENT GOES BELOW -->
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <!-- Miroslav: END OF MAIN CONTENT -->

    </div>


  <!--</div>-->
<!--</div>-->