<!--<div class="container-fluid">-->
  <!--<div class="side-body">-->


    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Nav tabs --><div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#propertyinfo" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Property Info</a>
            </li>
            <li role="presentation">
              <a href="#languages" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> Languages</a>
            </li>
            <li role="presentation">
              <a href="#cards" aria-controls="messages" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-credit-card"></span> Cards</a>
            </li>
            <li role="presentation">
              <a href="#internet" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-signal"></span> Internet</a>
            </li>

            <li role="presentation">
              <a href="#parking" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-log-in"></span> Parking</a>
            </li>
            <li role="presentation">
              <a href="#cancellation" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-ban-circle"></span> Cancellation</a>
            </li>
            <li role="presentation">
              <a href="#breakfast" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cutlery"></span> Breakfast</a>
            </li>
            <li role="presentation">
              <a href="#pet" aria-controls="settings" role="tab" data-toggle="tab"><span class="fa fa-paw"></span> Pet</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="propertyinfo">
              <!-- CONTENT GOES HERE -->
              <app-property-info></app-property-info>
            </div>
            <div role="tabpanel" class="tab-pane" id="languages">
              <!-- CONTENT GOES HERE -->
              <app-languages></app-languages>
            </div>
            <div role="tabpanel" class="tab-pane" id="cards">
              <!-- CONTENT GOES HERE -->
              <app-cards></app-cards>
            </div>
            <div role="tabpanel" class="tab-pane" id="internet">
              <!-- CONTENT GOES HERE -->
              <app-internet></app-internet>
            </div>
            <div role="tabpanel" class="tab-pane" id="parking">
              <!-- CONTENT GOES HERE -->
              <app-parking></app-parking>
            </div>
            <div role="tabpanel" class="tab-pane" id="cancellation">
              <!-- CONTENT GOES HERE -->
              <app-cancellation></app-cancellation>
            </div>
            <div role="tabpanel" class="tab-pane" id="breakfast">
              <!-- CONTENT GOES HERE -->
              <app-breakfast></app-breakfast>
            </div>
            <div role="tabpanel" class="tab-pane" id="pet">
              <!-- CONTENT GOES HERE -->
              <app-pet></app-pet>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>


  <!--</div>-->
<!--</div>-->
