<div class="row">
  <form class=" cols-sm-3" [formGroup]="facilitiesForm">
    <div class="col-md-4" *ngFor="let front of facilities">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <div class="checkbox checbox-switch switch-primary">
              <label>
                <input type="checkbox" name="{{front.facilityName}}" formControlName="{{front.facilityName}}"/>
                <span></span>
                {{front.facilityName}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
