
<div class="col-12 inner d-flex justify-content-between w-100">
  <span class="btnspacer"><button class="btn" (click)="navigateDetails()" ><i class="fa fa-info" ></i> Info</button></span>
  <span class="btnspacer"><button class="btn" (click)="navigateRooms()" ><i class="fa fa-bed" ></i> Rooms</button></span>
  <span class="btnspacer"><button class="btn" (click)="navigateDiscounts()"><i class="fa fa-percent"></i> Discounts</button></span>
  <span class="btnspacer"><button class="btn" (click)="navigateAmenities()"><i class="fas fa-utensils"></i> Amenities</button></span>
  <span class="btnspacer"><button class="btn" (click)="navigateSurroundings()"><i class="fa fa-map"></i> Surroundings</button></span>
  <span class="btnspacer"><button class="btn" (click)="navigateGallery()"><i class="fa fa-picture-o"></i> Gallery</button></span>
</div>


