<app-navigation-bar></app-navigation-bar>

<!--<div class="row" id="custom-css-id">
   <div class="absolute-wrapper"> </div>

<app-side-bar></app-side-bar>


    <div class="container-fluid">
        <div class="side-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->

<app-navigation-bar></app-navigation-bar>
<div class="container" style="width: 90%; padding: unset; padding-top: 5%;" >
    <div class="row">

        <div class="col-sm-2" style="padding-left: 5px; padding-right: 5px;">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-sm-1">

        </div>

        <div class="col-sm-9" style="padding-left: 1%; padding-right: 1.5%;">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>